<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Scharif H.</span></strong>
    </div>
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
    <div class="credits">& reworked into Full Stack App by Scharif H.</div>
  </div>
</footer>
