<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Error</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/public/img/favicon.png" rel="icon" />
    <link href="/public/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/public/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="/public/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/public/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="/public/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="/public/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="/public/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/public/css/style.css" rel="stylesheet" />

    <script
      src="https://kit.fontawesome.com/5bb93003c2.js"
      crossorigin="anonymous"
    ></script>

    <!-- =======================================================
  * Template Name: iPortfolio - v3.7.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>
  <body>
    <!-- Header -->
    <header id="header">
      <div class="d-flex flex-column">
        <div class="profile">
          <img
            src="/public/img/profile-img-cropped.png"
            alt=""
            class="img-fluid rounded-circle"
          />
          <h1 class="text-light"><a href="/index.ejs">Haluesst Scharif</a></h1>
          <div class="social-links mt-3 text-center">
            <a
              href="https://www.xing.com/profile/Haluesst_Scharif"
              target="_blank"
              class="xing"
              ><i class="fab fa-xing"></i
            ></a>
            <a
              href="https://github.com/Scharif47"
              target="_blank"
              class="github"
              ><i class="bx bxl-github"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/haluesst-scharif-2a2617230/"
              class="linkedin"
              target="_blank"
              ><i class="bx bxl-linkedin"></i
            ></a>
          </div>
        </div>

        <nav id="navbar" class="nav-menu navbar">
          <ul>
            <li>
              <a href="/" class="nav-link scrollto active"
                ><i class="bx bx-home"></i> <span>Home</span></a
              >
            </li>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>

    <!-- Error -->
    <%= error.message %>

    <!-- Footer -->
    <%-include("components/footer") %>
  </body>
</html>
