<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Error</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/public/img/favicon.png" rel="icon" />
    <link href="/public/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/public/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="/public/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/public/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="/public/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="/public/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="/public/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/public/css/style.css" rel="stylesheet" />

    <script
      src="https://kit.fontawesome.com/5bb93003c2.js"
      crossorigin="anonymous"
    ></script>

    <!-- =======================================================
  * Template Name: iPortfolio - v3.7.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>
  
  <body>
    <!-- Header -->
    <%- include("components/header") %>

    <!-- Error -->

    <main id="main">
      <section id="error" class="error">
        <div class="container text-center ">
          <h2><%= error.title %></h2>
          <br>
          <hr>
          <p><%= error.message %></p>
          <br>
          <p>
            Zurück zu <a href="/">Home</a>
          </p>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <div class="position-absolute bottom-0 w-100">
      <%-include("components/footer") %>
    </div>
   
  </body>
</html>
